{% extends "base/index.html" %}

{% block content %}
    <!-- Hero Area Start -->
    <div id="home" class="hero-area">
        <div class="background"></div>
        <img class="bgimg" src="/static/images/heroarea/two/shape.png" alt="">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex align-self-center">
                    <div class="left-content">
                        <div class="content">
                            <h1 class="title">
                                Modern & Creative Agency
                            </h1>

                            <p class="subtitle">
                                Effects present letters inquiry no an removed or friends. Desire behind
                                latter me though in. Supposing
                                shameless am engrossed itatibus additions.
                            </p>
                            <div class="links">
                                <a href="#" class="mybtn1">Discover Us<i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-first order-lg-last">
                    <div class="right-img">
                        <img class="img-fluid full-img" src="/static/images/heroarea/two/full.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->

    <!-- About area start -->
    <section class="about" id="about">
        <img class="shapecircle" src="/static/images/roundCircle.png" alt="">
        <img class="shape" src="/static/images/shape1.png" alt="">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 d-flex align-self-center">
                    <div class="info">
                        <h2 class="info-title">Our Company have Business 30 years Over. We Get <span>50+ Award.</span>
                        </h2>
                        <pre id="ace_editor_demo" style="opacity:0">name = "Munis Isazade"


print(name)</pre>

                        <p class="code-result"></p>
                        <div class="link">
                            <a href="{{ url_for('run_code_snipped') }}" class="mybtn1">Learn More<i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box1">
                                <div class="inner-box">
                                    <div class="icon">
                                        <i class="flaticon-ideas"></i>
                                    </div>
                                    <h4 class="title">Creative Design</h4>
                                    <p class="text">
                                        Viewing hastily or written dearest elderly up weather. direction so sweetness.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box box2">
                                <div class="inner-box">
                                    <div class="icon">
                                        <i class="flaticon-file"></i>
                                    </div>
                                    <h4 class="title">Documentation</h4>
                                    <p class="text">
                                        Viewing hastily or written dearest elderly up weather. direction so sweetness.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box box3">
                                <div class="inner-box">
                                    <div class="icon">
                                        <i class="flaticon-view"></i>
                                    </div>
                                    <h4 class="title">Retina Ready</h4>
                                    <p class="text">
                                        Viewing hastily or written dearest elderly up weather. direction so sweetness.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box box4">
                                <div class="inner-box">
                                    <div class="icon">
                                        <i class="flaticon-reload"></i>
                                    </div>
                                    <h4 class="title">Weekly Updates</h4>
                                    <p class="text">
                                        Viewing hastily or written dearest elderly up weather. direction so sweetness.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--About area End -->
{% endblock %}